footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footerList {
  display: flex;
  list-style-type: none;
  background-color: yellowgreen;
  padding: 1rem;
}

.footerList li {
  padding: 1rem;
}
