@import "../../Components/Buttons/Buttons.scss";
@import "../../Components/InputFields/InputFields.scss";
.homepage {
  width: 100vw;
  height: calc(100vh - 6rem);
  background-color: rgb(255, 194, 115);
  background-size: 20px;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // position: relative;
  // overflow: hidden;
}

.hero {
  text-align: center;
  color: white;
  z-index: 10;
  &__title {
    margin-bottom: 2rem;
    font-size: 4rem;
  }
  &__subtitle {
    margin-bottom: 1rem;
  }
  &__form {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.emailBox {
  @include registerInput;
}

.infoWarning {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
  color: red;
  text-decoration: underline red;
}

.startBtn {
  @include startBtn;
}
