.profileAvatar {
  max-width: 300px;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: white;
}

.profileName {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.bigUrl {
  text-overflow: ellipsis;
  overflow: hidden;
}

.profileBtn {
  align-self: flex-start;
  margin-left: 0;
}

#overcome {
  height: 4rem;
}
