@import "../Buttons/Buttons.scss";

.navbar {
  position: fixed;
  height: 6rem;
  top: 0;
  width: 100%;
  padding: 1rem;
  padding-left: 0;
  background-color: violet;
  border-bottom: 0px solid rgb(255, 194, 115);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  z-index: 100;
  transition: all 1s ease-in-out;
}

.navBtnBox {
  padding: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .navBtn {
    @include navBtn;
  }
  &__home {
    margin-right: auto;
    margin-left: 0;
  }
  :hover {
    transition: background-color 0.4s ease-in-out;
    background-color: rgb(158, 116, 158);
    // border-radius: 63% 37% 37% 63% / 36% 46% 54% 64%;
  }
  :hover span {
    color: rgb(255, 194, 115);
    // text-decoration: underline;
  }
}

.activeNavLink {
  text-decoration: underline wavy springgreen;
}

.navAni {
  background-color: rgb(255, 194, 115);
  border-bottom: 1px solid violet;
}
.avatarBox {
  display: inline-block;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: 8px;
  background-size: cover;
  background-position: center;
}
